* {
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  
  a:hover {
    font-size: 30px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
  body {
    position: relative;
  }
  
  @media screen and (min-width: 480px) {
    body {
      display: flex;
    flex-direction: column;
    }
    .App {
      flex-direction: column;
    }
  }
